.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--OFF-WHITE);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.task-item:hover{
    transform: scale(1.01);
    background-color: var(--PRIMARY-200);
}

.task-title{
    font-size: 2rem;
    font-weight: 500;
    padding-left: 1rem;
}

.task-item-cta{
    display: flex;
    justify-content: center;
    align-items: center;
}