@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://grand-ui.netlify.app/components/components.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --COLOR-HOME-ALPHA : #ffffffcc
}

:root[data-theme="dark"]{
    --COLOR-HOME-ALPHA : #000000aa
}

p{
    font-size: 1.6rem;
}

